{% extends "layouts/main.html" %}

{% block pageTitle %}
Sign in – OpCalc – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "/onboarding/start"
}) }}
{% endblock %}

{% block content %}

{# Not on the main journey: in the live service people are expected to be
   signed in automatically. Fixed a typo that broke the page layout
   (class=s"...") and the missing closing tags, and the password box now
   hides what is typed. #}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
Sign in to OpCalc
</h1>

<p class="govuk-body">This is the ID you use to sign in to DWP systems</p>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
label: {
text: "User ID",
classes: "govuk-label--s"
},
id: "user-id",
name: "userId",
autocomplete: "username",
spellcheck: false
}) }}

{{ govukInput({
label: {
text: "Password",
classes: "govuk-label--s"
},
id: "password",
name: "password",
type: "password",
autocomplete: "current-password"
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Sign in",
href: "/onboarding/start"
}) }}

<p class="govuk-body">
<a class="govuk-link" href="#">I've forgotten my password</a>
</p>
<p class="govuk-body">
<a class="govuk-link" href="#">Change your password</a>
</p>

</div>
</div>

{% endblock %}